{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>Adicionar Tarefa</h1>
    <form method="POST">
        
        <div class="mb-3">
            {{ form.csrf_token }}
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('lista_tarefas') }}" class="btn btn-secondary">Voltar</a>
    </form>
</div>

{% endblock %}
